<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>816320337509-b8277qscrlbnuqlbeoc3qqs740jclohb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.816320337509-b8277qscrlbnuqlbeoc3qqs740jclohb</string>
	<key>API_KEY</key>
	<string>AIzaSyDEwdpjAaOGIyDTSc5MsETJcEwXL5-MYIE</string>
	<key>GCM_SENDER_ID</key>
	<string>816320337509</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cl.aluco.SwiftUIFirebase</string>
	<key>PROJECT_ID</key>
	<string>testswiftui-2dbf2</string>
	<key>STORAGE_BUCKET</key>
	<string>testswiftui-2dbf2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:816320337509:ios:99cc1caa8cb53384dad88c</string>
</dict>
</plist>